<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='stylesheets/map.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="row">
    
      <div class="col-sm-7">
        <div id="map"></div>

        <script type="text/javascript">
          function initMap() {
            var catCenters = [
              {lat: 45.523064, lng: -122.676483}, //Portland, OR, USA
              {lat: 33.7355747, lng: 132.483373}, //Aoshima, Japan (Cat Island)
              {lat: 41.8898789, lng: 12.492483}, //Colosseum, Rome, Italy
              {lat: 29.9751153, lng: 31.1375191} //The Sphnix, Giza, Egypt
              {lat: 42.2156132, lng: -73.8645392} //Catskill, NY, USA
            ]
            var index = Math.floor(Math.random() * catCenters.length);
            var location = catCenters[index];

            // init the map
            var map = new google.maps.Map(
              document.getElementById('map'), 
              {zoom: 14, center: location}
            );

            var marker = [];
            var infowindow = [];

            <% for(var i in cats) { %>

            marker.push(
              new google.maps.Marker({
                position: {lat: <%= cats[i].location.lat %>, lng: <%= cats[i].location.long %>},
                map: map,
                icon: 'https://raw.githubusercontent.com/rooneyshuman/CATLAS/master/public/images/favicon.ico'
            }));

            infowindow.push( 
              new google.maps.InfoWindow({
                content:  '<table>' + 
                            '<table class="table table-bordered table-light">' +
                              '<tr>' +
                                '<th>Color</th>' +
                                '<td><%= cats[i].color %></td>' +
                              '</tr>' +
                              '<tr>' +
                                '<th>Date Found</th>' +
                                '<td><%= cats[i].dateFound %></td>' +
                              '</tr>' +
                              '<tr>' +
                                '<th>Breed</th>' +
                                '<td><%= cats[i].breed %></td>' +
                              '</tr>' +
                              '<tr>' +
                                '<th>Size</th>' +
                                '<td><%= cats[i].size %></td>' +
                              '</tr>' +
                            '</table>' +
                          '</table>'
            }));

            marker[<%= i %>].addListener('click', function() {
              for(j = 0; j < infowindow.length; ++j) {
                infowindow[j].close();
              }
              infowindow[<%= i %>].open(map, marker[<%= i %>]);
            });

            <% } %>

            //get user's current location and set map to center on it
            if(navigator.geolocation) {
              function getPosition(pos) {
                userLoc = {
                  lat: pos.coords.latitude,
                  lng: pos.coords.longitude
                };
                map.setCenter(userLoc);
              }
              function error() {
                alert("Location services not enabled on browser");
              } 
              coords = navigator.geolocation.getCurrentPosition(getPosition, error);
            } else {
              alert("Browser doesn't support location services.");
            }
          }
        </script>
        <script src='https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap'
          async defer ></script>
      </div>

      <div class="col-sm-5">
        <div id="cat-table">
          <table class="table table-bordered table-striped table-light">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Color</th>
                <th scope="col">Date Found</th>
                <!--
                <th scope="col">Longitude</th>
                <th scope="col">Latitude</th>
                -->
                <th scope="col">Breed</th>
                <th scope="col">Size</th>
              </tr>
            </thead>
            <% for(var i in cats) { %>
            <tr>
              <!-- <th scope="row"><%= parseInt(i)+1 %></th> -->
              <td><%= cats[i].color %></td>
              <td><%= cats[i].dateFound %></td>
              <!--
              <td><%= cats[i].location.long %></td>
              <td><%= cats[i].location.lat %></td>
              -->
              <td><%= cats[i].breed %></td>
              <td><%= cats[i].size %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>

    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>