<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <link rel='stylesheet' href='stylesheets/map.css' />
</head>

<body>

  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="row">

    <div class="col-sm-5 table-scroll pr-0">
      <div id="cat-table">
        <table class="table table-bordered table-striped table-light">
        <% for(var i in cats) { %>
          <tr>
            <div class="card" id="catid<%=i%>">
              <div class="card-body">
                <div class="row">
                <div class="col-sm-5">
                  <img src="https://www.catbreedslist.com/uploads/allimg/cat-pictures/<%=cats[i].breed.replace(/ /g, '-')%>-1.jpg" style="width:150px; height:auto;">
                </div>
                <div class="col-sm-7">
                  <h5 class="card-text"><%=parseInt(i)+1%>. <%=cats[i].breed%></h5>
                  <% for(var j = 0; j < cats[i].rating; ++j) { %>
                  <span class="fa fa-paw checked"></span>
                  <% } %>
                  <% for(var j = 0; j < 5 - cats[i].rating; ++j) { %>
                  <span class="fa fa-paw"></span>
                  <% } %>
                  <p><%=cats[i].color%>, <%=cats[i].size%><br> Found: <%=cats[i].dateFound%></p>
                </div>
                </div>
              </div>
            </div>
          </tr>
        <% } %>
        </table>
      </div>
    </div>

      <div class="col-sm-7">
        <div id="map"></div>

        <script type="text/javascript">
          $('.card').hover(
            function(){ $(this).addClass('border-info') },
            function(){ $(this).removeClass('border-info') }
          )

          function initMap() {
            var catCenters = [
              {lat: 45.523064, lng: -122.676483}, //Portland, OR, USA
              {lat: 33.7355747, lng: 132.483373}, //Aoshima, Japan (Cat Island)
              {lat: 41.8898789, lng: 12.492483}, //Colosseum, Rome, Italy
              {lat: 29.9751153, lng: 31.1375191}, //The Sphnix, Giza, Egypt
              {lat: 42.2156132, lng: -73.8645392} //Catskill, NY, USA
            ]
            var index = Math.floor(Math.random() * catCenters.length);
            var location = catCenters[index];

            // init the map
            var map = new google.maps.Map(
              document.getElementById('map'), 
              {zoom: 14, center: location}
            );

            var marker = [];
            var infowindow = [];
            var obj;

            <% for(var i in cats) { %>
            
            // Normalize breed to pull image from cat breed URL
            var breedStr = "<%=cats[i].breed%>".replace(/ /g, '-');  

            marker.push(
              new google.maps.Marker({
                position: {lat: <%= cats[i].location.lat %>, lng: <%= cats[i].location.long %>},
                map: map,
                icon: 'https://raw.githubusercontent.com/rooneyshuman/CATLAS/master/public/images/favicon.ico'
            }));

            infowindow.push( 
              new google.maps.InfoWindow({
                content:   
                  '<div class="card transparent-border" id="catid<%=i%>">' +
                    '<div class="card-body px-0 pt-2 pb-0">' +
                      '<div class="row">' +
                        '<div class="col-sm-5">' +
                          '<img src="https://www.catbreedslist.com/uploads/allimg/cat-pictures/' + breedStr + '-1.jpg" style="width:100px; height:auto;">' +
                        '</div>' +
                        '<div class="col-sm-7">' +
                          '<h5 class="card-text"><%=parseInt(i)+1%>. <%=cats[i].breed%></h5>' +
                          '<span class="fa fa-paw checked"></span>' +
                          '<span class="fa fa-paw checked"></span>' +
                          '<span class="fa fa-paw checked"></span>' +
                          '<span class="fa fa-paw"></span>' +
                          '<span class="fa fa-paw"></span>' +
                          '<p><%=cats[i].color%>, <%=cats[i].size%><br> Found: <%=cats[i].dateFound%></p>' +
                        '</div>' +
                      '</div>' +
                    '</div>' +
                  '</div>'
            }));

            marker[<%= i %>].addListener('click', function() {
              for(j = 0; j < infowindow.length; ++j) {
                infowindow[j].close();
              }
              infowindow[<%= i %>].open(map, marker[<%= i %>]);
            });

            obj = document.getElementById("catid<%= i %>");
            console.log(obj);
            obj.addEventListener('click', function() {
              for(j = 0; j < infowindow.length; ++j) {
                infowindow[j].close();
              }
              infowindow[<%= i %>].open(map, marker[<%= i %>]);
            });

            <% } %>

            //get user's current location and set map to center on it
            if(navigator.geolocation) {
              function getPosition(pos) {
                userLoc = {
                  lat: pos.coords.latitude,
                  lng: pos.coords.longitude
                };
                map.setCenter(userLoc);
              }
              function error() {
                alert("Location services not enabled on browser");
              } 
              coords = navigator.geolocation.getCurrentPosition(getPosition, error);
            } else {
              alert("Browser doesn't support location services.");
            }
          }
        </script>
        <script src='https://maps.googleapis.com/maps/api/js?key=<%=key%>&callback=initMap'
          async defer ></script>
      </div>

    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>